body{
    margin: 0;
}
.button-small,.button-large{
    background-color: #ba0cc5;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}
.container{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background: url(./assets/bg.png);
    background-size: cover;
    color: #ffffff;

}
/* Navbar */
.navbar{
    background-color: #000000;
    display: flex;
    padding: 1.5rem 2rem;
    gap: 2rem;
}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 4rem;
}
.line{
    background: #ffffff;
    width: 0.1%;
}
.button-small{
    padding: 0.5rem 1.3rem;
    font-size:medium;
    position: absolute;
    right: 5%;
    top: 5%;
}

/* Hero Section */
.hero{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
text-align: center;
}
.hero-description{
    font-size: x-large;
}
.hero-heading{
    margin: 0;
    font-size: 4em;
}
.button-large{
    padding: 0.6rem 1.4rem;
    font-size:large;
}